extends ../layout

block content
  .project-header
    h1 Member Projects
  
  if projects.length
    .table-container
      table
        thead
          tr
            th Name
            th Description
            th Leader
            th Start Date
            th End Date
            th Actions
        tbody
          each project in projects
            tr
              td= project.name
              td= project.description
              td= project.leader ? (project.leader.ime || project.leader.email) : 'N/A'
              td= project.startDate ? project.startDate.toDateString() : ''
              td= project.endDate ? project.endDate.toDateString() : ''
              td
                .project-actions
                  a.btn.btn-sm.btn-secondary(href='/projects/' + project._id) View
                  a.btn.btn-sm(href='/projects/' + project._id + '/member-edit') Update Work
  else
    p.empty-state You are not a member of any projects.
