extends ../layout

block content
  .card
    h1= project.name
    div.project-details
      p 
        strong Description: 
        | #{project.description}
      p 
        strong Price: 
        | #{project.price}
      p 
        strong Leader: 
        | #{project.leader ? (project.leader.ime || project.leader.email) : 'N/A'}
      p 
        strong Start Date: 
        | #{project.startDate ? project.startDate.toDateString() : 'N/A'}
      p 
        strong End Date: 
        | #{project.endDate ? project.endDate.toDateString() : 'N/A'}

  .card
    h2 Update Finished Work
    form(method='POST', action='/projects/' + project._id + '/member-update')
      .form-group
        label(for='finishedWork') Finished Work:
        textarea(name='finishedWork', rows='5', style='width: 100%;')= project.finishedWork
      .form-actions
        button.btn(type='submit') Save
        a.btn.btn-secondary(href='/projects/member' style='margin-left: 10px;') Back

  .card
    h2 Team Members
    if project.teamMembers.length
      ul.team-list
        each member in project.teamMembers
          li 
            strong #{member.ime || member.email}
    else
      p No team members.
